MODE=development
GITHUB_LINK=https://github.com/MokiMeow
LINKEDIN_LINK=https://www.linkedin.com/in/smohiths
TWITTER_LINK=https://x.com/mohith50478695
PORTFOLIO_LINK=https://smohith.vercel.app
EMAIL_LINK=mailto:smohith.sm@gmail.com
